button {
  cursor: pointer;
  font-size: 1rem;
  padding: 1em 1.5em;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border: 1px rgba(177, 177, 177, 0.664) solid;
  border-radius: 0.5rem;
  position: relative;
  transition: 0.2s;
  overflow: hidden;
  margin: 0.1px; //Stops border bleeding, no other visual effect
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 70%,
      rgba(255, 255, 255, 0.1) 100%
    );
    opacity: 0;
    transition: 0.2s;
  }
  &:hover,
  &:focus,
  &:active {
    // background: transparent;
    &:before {
      opacity: 1;
    }
  }
}
